<div fxLayout="column" fxFill fxLayoutGap="5px">

  <div fxLayout="row">
    <h2>Login</h2>
  </div>

  <div fxLayout="row" fxLayoutAlign="center top" >
    <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column" fxLayoutGap="10px">

      <div fxLayout="column" fxLayoutGap="1px">
        <label class="text">Username</label>
        <input type="text" class="roundEnd col-form-label-lg"  formControlName="username" placeholder="Username...">
      </div>

      <div fxLayout="column" fxLayoutGap="1px">
        <label class="text">Password</label>
        <input type="password" class="roundEnd col-form-label-lg" formControlName="password" placeholder="Password...">
      </div>


      <button type="submit" class="btn-lg btn-primary roundEnd">Login</button>


    </form>
  </div>


</div>
