<h2>
  Update Pet {{id}}:
</h2>

<form [formGroup]="petForm" (ngSubmit)="save()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Type:
    <input type="number" formControlName="type">
  </label>

  <label>
    Birthday:
    <input type="date" formControlName="birthday">
  </label>

  <label>
    Price:
    <input type="number" formControlName="price">
  </label>

  <select formControlName="previousOwner">

    <option [value]="0">Choose previous owner...</option>
    <option [value]="preOwner.id" *ngFor="let preOwner of owners">
      {{preOwner.id}}: {{preOwner.firstName}} {{preOwner.lastName}}
    </option>

  </select>

  <button type="submit">Save</button>

</form>
